body {
    background-color: rgb(253,251,251);
}

#cabecalho {
 top:0;
 position: fixed;
 font-size: 15px;
 width: 100%;
 padding: 10px;
 background-color: green;

}
#titulo {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
   
    
     
     
}

#minha_foto {
 width: 300px;
 margin-left: 80px;
 border-radius: 500px;
 margin-top: 8%;
 box-shadow: 5px 8px 10px;
 
 
 
 
 }

 #licoes_aprendidas {
     background-color: rgb(91, 163, 23);
     width: 400px;
     margin-left: auto;
     margin-right: auto;
     color:black;
     border-radius: 20px;
     font-family:cursive;
   
     
     

 }
 
#licoes_a_aprender {
    background-color: rgb(15, 161, 15);
    width: 400px;
   margin-left: auto;
   margin-right: auto;
    border-radius: 20px;
    

}

#artigo {
background-color: rgb(74, 206, 74);
width: 400px;

top:100px;
line-height: 20px;
border-radius: 20px;

}
.lado-direito {
  display: inline-block;
  margin-left: 20px;
}

#meuaprendizado {
    background-color: green;
    width: 400px;
    border-radius: 15px;
    
}

.lado-esquerdo {
   display: inline-block;
  
}

table {
margin: auto;
}


 #rodape {
     background-color: rgb(51, 214, 36);
     text-align: center;
     height: 70px;
     
     
 }
 #fotoTrybe {
     width: 250px;
 }